<?xml version="1.0" encoding="utf-8"?>
<!-- Debug build only: shares exported debug CSVs through a non-exported FileProvider. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.devtools.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/devtools_file_paths" />
        </provider>
    </application>
</manifest>
